li{
  text-decoration: none;
  list-style: none;
}

ul{
  padding: 2rem 0;
  margin: 0;
}

.side_menu{
  background-color: #fc9439;
  color: white;
  width: 4rem;
  height: 100vh;
  position: relative;
}

a{
  display: none;
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

.transition {
  transition: width 2s;
}

.shrinking{
  width: 100%;
}

.show{
  display: block;
}
