<div class="posts">
  <div *ngFor="let post of posts">

    <h1>{{post.heading}}</h1>
    <p>{{post.message}}</p>
    <div>
      <span>
        <button class="btn" (click)="delete(post.id)">Delete</button>
      </span>
      <span>
        <button class="btn" (click)="update(post)">Update</button>
      </span>
    </div>

    <app-update
      [post]="post"
      (updatedPost)="update($event)"
      *ngIf="post.isActive"></app-update>
    <hr>
  </div>
  <div
    class="posts_form">
    <h1 class="h1">
      Write your own Post!
    </h1>
    <input
      [(ngModel)]="postHeading"
      type="text"
      placeholder="Heading">
    <textarea
      [(ngModel)]="postMessage"
      (keyup.enter)="save(); postHeading = ''; postMessage = ''"
      placeholder="Message"
      name="postBody"
      id="postBody"
      cols="30"
      rows="10">
    </textarea>
    <input
      type="submit"
      class="btn input_btn"
      (click)="save(); postHeading = ''; postMessage = ''">
  </div>
</div>
